/*!
 * Icon Font procademy-icons8
 * Made with love by Icons8 [ https://icons8.com/ ] using webfont [ https://github.com/itgalaxy/webfont ]
 *
 * Contacts:
 *    [ https://icons8.com/contact ]
 *
 * Follow Icon8 on
 *    Twitter [ https://twitter.com/icons_8 ]
 *    Facebook [ https://www.facebook.com/Icons8 ]
 *    Google+ [ https://plus.google.com/+Icons8 ]
 *    GitHub [ https://github.com/icons8 ]
 */

@font-face {
  font-family: "procademy-icons8";
  src: url("../fonts/procademy-icons8.eot");
  src: url("../fonts/procademy-icons8.eot?#iefix") format("embedded-opentype"),
  url("../fonts/procademy-icons8.woff2") format("woff2"),
  url("../fonts/procademy-icons8.woff") format("woff"),
  url("../fonts/procademy-icons8.ttf") format("truetype"),
  url("../fonts/procademy-icons8.svg#font") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "procademy-icons8";
    src: url("../fonts/procademy-icons8.svg#procademy-icons8") format("svg");
  }
}

[data-icons8]:before {
  content: attr(data-icons8);
}

.icons8-text-cursor:before,
.icons8-control-panel-board:before,
.icons8-registration:before,
.icons8-user-account:before,
.icons8-tree-structure:before,
.icons8-calendar:before,
.icons8-notification:before,
.icons8-maintenance:before,
.icons8-name-card:before,
.icons8-diploma:before,
.icons8-chat:before,
.icons8-shop:before,
.icons8-dashboard:before,
.icons8-training:before,
.icons8-cert:before,
.icons8-key:before,
.icons8-settings:before,
.icons8-folder-with-a-user-symbol:before,
.icons8-location-marker:before,
.icons8-website:before,
.icons8-gender-neutral-user:before,
.icons8-e-mail:before,
.icons8-help:before,
.icons8-logout:before,
.icons8-logout-2:before,
.icons8-today:before,
.icons8-foreign-languages:before,
.icons8-database:before,
.icons8-website-symbol:before,
.icons8-active-directory:before,
.icons8-security-lock:before,
.icons8-connect:before,
.icons8-template:before,
.icons8-dropdown-field:before,
.icons8-dictionary:before,
.icons8-date-span:before,
.icons8-filter:before,
.icons8-sorting:before,
.icons8-search:before,
.icons8-share:before,
.icons8-binoculars:before,
.icons8-social-group:before,
.icons8-print-media:before,
.icons8-inbox:before,
.icons8-lock:before,
.icons8-lock-2:before,
.icons8-lock-outline:before,
.icons8-lock-outline-2:before,
.icons8-approval:before,
.icons8-login:before,
.icons8-physics:before,
.icons8-camera:before,
.icons8-lightbulb-idea:before,
.icons8-megaphone:before,
.icons8-price-tag:before,
.icons8-discount:before,
.icons8-bill:before,
.icons8-genealogy:before,
.icons8-checkmark:before,
.icons8-signin:before,
.icons8-form:before,
.icons8-detective:before,
.icons8-people:before,
.icons8-activity-feed:before,
.icons8-ophthalmology:before,
.icons8-news-feed:before,
.icons8-new-resume-template:before,
.icons8-close-window:before,
.icons8-toggle-on:before,
.icons8-toggle-off:before,
.icons8-download:before,
.icons8-laptop:before,
.icons8-audit:before,
.icons8-typewriter-with-paper:before,
.icons8-e-learning:before,
.icons8-messaging:before,
.icons8-dashboard-2:before,
.icons8-timeline-week:before,
.icons8-telegram-app:before,
.icons8-pdf:before,
.icons8-powerpoint:before,
.icons8-regular-document:before,
.icons8-upload:before,
.icons8-multiply:before,
.icons8-doc:before,
.icons8-chat-message-sent:before,
.icons8-sms:before,
.icons8-communication:before,
.icons8-open-envelope:before,
.icons8-add-to-chat:before,
.icons8-read-online:before,
.icons8-received:before,
.icons8-view:before,
.icons8-glasses:before,
.icons8-video-conference:before,
.icons8-event:before,
.icons8-video:before,
.icons8-no-video:before,
.icons8-video-message:before,
.icons8-video-gallery:before,
.icons8-video-trimming:before,
.icons8-video-record:before,
.icons8-video-playlist:before,
.icons8-laptop-play-video:before,
.icons8-sending-video-frames:before,
.icons8-video-editing:before,
.icons8-mute-unmute:before,
.icons8-turn-off-ringer:before,
.icons8-audio:before,
.icons8-add-record:before,
.icons8-phone:before,
.icons8-add-phone:before,
.icons8-no-phones:before,
.icons8-ringer-volume:before,
.icons8-outgoing-call:before,
.icons8-call:before,
.icons8-download-from-cloud:before,
.icons8-commercial:before,
.icons8-phone-time:before,
.icons8-gps-antenna:before,
.icons8-gps-signal:before,
.icons8-talk:before,
.icons8-chat-messages:before,
.icons8-communicate:before,
.icons8-typing:before,
.icons8-voice-recognition:before,
.icons8-winner-document:before,
.icons8-imac-medal:before,
.icons8-trophy:before,
.icons8-medal:before,
.icons8-macbook-medal:before,
.icons8-leaderboard:before,
.icons8-medal-and-certificate-folder:before,
.icons8-test-passed:before,
.icons8-document:before,
.icons8-document-2:before,
.icons8-open-document:before,
.icons8-shared-document:before,
.icons8-documents:before,
.icons8-checked-identification-documents:before,
.icons8-delete-file:before,
.icons8-sheet:before,
.icons8-pdf-2:before,
.icons8-xls:before,
.icons8-txt:before,
.icons8-word:before,
.icons8-speaker-notes:before,
.icons8-expand-arrow:before,
.icons8-microphone:before,
.icons8-block-microphone:before,
.icons8-video-call:before,
.icons8-video-file:before,
.icons8-video-camera:before,
.icons8-not-showing-video-frames:before,
.icons8-documentary:before,
.icons8-xbox-menu:before,
.icons8-circled-play:before,
.icons8-camcorder:before,
.icons8-camera-automation:before,
.icons8-play-button:before,
.icons8-play:before,
.icons8-cinema:before,
.icons8-hdtv:before,
.icons8-web-camera:before,
.icons8-wall-mount-camera:before,
.icons8-chat-bubble:before,
.icons8-no-chat:before,
.icons8-macbook-chat:before,
.icons8-delete-chat:before,
.icons8-chat-settings:before,
.icons8-discussion-forum:before,
.icons8-phone-message:before,
.icons8-closed-topic:before,
.icons8-online-support:before,
.icons8-advice:before,
.icons8-refuse:before,
.icons8-whatsapp:before,
.icons8-forward-message:before,
.icons8-group-message:before,
.icons8-ask-question:before,
.icons8-thinking-male:before,
.icons8-showing-video-frames:before,
.icons8-finish-flag:before,
.icons8-facebook-like:before,
.icons8-link:before,
.icons8-trash:before,
.icons8-image-document:before,
.icons8-edit:before,
.icons8-synchronize:before,
.icons8-ticket:before,
.icons8-delete-ticket:before,
.icons8-ticket-confirmed:before,
.icons8-movie-ticket:before,
.icons8-new-ticket:before,
.icons8-two-tickets:before,
.icons8-sort:before,
.icons8-clock:before,
.icons8-expand:before,
.icons8-collapse:before,
.icons8-file-delete:before,
.icons8-attach:before,
.icons8-stacked-organizational-chart:before,
.icons8-export:before,
.icons8-time-machine:before,
.icons8-classroom:before,
.icons8-place-marker:before,
.icons8-person:before,
.icons8-duplicate:before,
.icons8-language-skill:before,
.icons8-menu:before,
.icons8-info:before,
.icons8-error:before,
.icons8-cancel:before,
.icons8-ok:before,
.icons8-unpin-2:before,
.icons8-sparkling:before,
.icons8-learn-more:before,
.icons8-checked-user-male:before,
.icons8-timeline:before,
.icons8-menu-vertical:before,
.icons8-e-learning-2:before,
.icons8-teacher:before,
.icons8-pass-fail:before,
.icons8-contract:before,
.icons8-folder:before,
.icons8-survey:before,
.icons8-inscription:before,
.icons8-rotate-right:before,
.icons8-leave:before,
.icons8-leave-2:before,
.icons8-no-entry:before,
.icons8-reset:before,
.icons8-lock-3:before,
.icons8-button:before,
.icons8-done:before,
.icons8-leave-3:before,
.icons8-button-2:before,
.icons8-restart:before,
.icons8-no-entry-2:before,
.icons8-school-director:before,
.icons8-hourglass:before,
.icons8-close:before,
.icons8-trophy-2:before,
.icons8-no-entry-3:before,
.icons8-no-entry-4:before,
.icons8-in-progress:before,
.icons8-pin:before,
.icons8-basket:before,
.icons8-thumbnails:before,
.icons8-package:before,
.icons8-paste:before,
.icons8-book:before,
.icons8-home:before,
.icons8-left-arrow:before,
.icons8-full-screen:before,
.icons8-list:before,
.icons8-open-parcel:before,
.icons8-collapse-arrow:before,
.icons8-reorder:before,
.icons8-important-month:before,
.icons8-save:before,
.icons8-learn-more-2:before,
.icons8-video-call-2:before,
.icons8-ticket-2:before,
.icons8-batch-assign-proc:before,
.icons8-batch-not-assigned-proc:before,
.icons8-training-2:before,
.icons8-external-link:before,
.icons8-user:before,
.icons8-user-account-2:before,
.icons8-certificate:before,
.icons8-verified-account:before,
.icons8-export-csv:before,
.icons8-xls-export:before,
.icons8-plus-math:before,
.icons8-export-pdf:before,
.icons8-card-exchange:before,
.icons8-business:before,
.icons8-face-id:before,
.icons8-unavailable:before,
.icons8-teacher-2:before,
.icons8-descending-sorting:before,
.icons8-ascending-sorting:before,
.icons8-archive:before,
.icons8-music:before,
.icons8-pdf-3:before,
.icons8-presentation:before,
.icons8-spreadsheet-file:before,
.icons8-video-clip:before,
.icons8-document-3:before,
.icons8-image:before,
.icons8-graduation-scroll:before,
.icons8-autograph:before,
.icons8-file-download:before,
.icons8-shopping-cart:before,
.icons8-tags:before,
.icons8-image-2:before,
.icons8-erase:before,
.icons8-circus-tent:before,
.icons8-separate-by-using-blank-sheets:before,
.icons8-search-in-list:before,
.icons8-play-2:before,
.icons8-smile:before,
.icons8-flip-vertical:before,
.icons8-flip-horizontal:before,
.icons8-rotate:before,
.icons8-collaboration:before,
.icons8-right-arrow:before,
.icons8-cardboard-box:before,
.icons8-speech-bubble:before,
.icons8-view-carousel:before,
.icons8-checkmark-bold--2-:before,
.icons8-multiline-text:before,
.icons8-3d-touch:before,
.icons8-braille:before,
.icons8-import-file:before,
.icons8-bot:before,
.icons8-star:before,
.icons8-clock-2:before,
.icons8-document-header:before,
.icons8-text:before,
.icons8-1-column:before,
.icons8-2-columns:before,
.icons8-3-columns:before,
.icons8-left-sidebar:before,
.icons8-right-sidebar:before,
.icons8-plus:before,
.icons8-albums:before,
.icons8-align-text-left:before,
.icons8-file:before,
.icons8-pdf-4:before,
.icons8-archive-2:before,
.icons8-audio-file:before,
.icons8-powerpoint-file:before,
.icons8-xls-2:before,
.icons8-image-3:before,
.icons8-video-file-2:before,
.icons8-document-4:before,
.icons8-design:before,
.icons8-stretch-uniform-to-fill:before,
.icons8-top-bar:before,
.icons8-image_right:before,
.icons8-image_left:before,
.icons8-pill:before,
.icons8-download-2:before,
.icons8-centralized-network:before,
.icons8-user-groups:before,
.icons8-collaborator:before,
.icons8-development-skill:before,
.icons8-books:before,
.icons8-journey:before,
.icons8-topic:before,
.icons8-play-3:before,
.icons8-movie:before,
.icons8-error-2:before,
.icons8-flag:before,
.icons8-replay:before,
.icons8-diploma-2:before,
.icons8-analyze:before,
.icons8-back:before,
.icons8-next:before,
.icons8-data-transfer:before,
.icons8-eye:before,
.icons8-task:before,
.icons8-pass-fail-2:before,
.icons8-video-chat:before,
.icons8-survey-2:before,
.icons8-high-importance:before,
.icons8-high-risk:before,
.icons8-police-badge:before,
.icons8-block-chain:before,
.icons8-invisible:before,
.icons8-in-inventory:before,
.icons8-resume-website:before,
.icons8-positive-dynamic:before,
.icons8-login-as:before,
.icons8-lock-4:before,
.icons8-building:before,
.icons8-one-free:before,
.icons8-trophy-3:before,
.icons8-subtract:before,
.icons8-abacus:before,
.icons8-rating:before,
.icons8-goal:before,
.icons8-info-popup:before,
.icons8-cv:before,
.icons8-growth-and-flag:before,
.icons8-warranty:before,
.icons8-e-learning-3:before,
.icons8-term:before,
.icons8-envelope:before,
.icons8-schedule:before,
.icons8,
[data-icons8]:before {
  display: inline-block;
  font-family: "procademy-icons8";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}


.icons8-text-cursor:before {
  content: "\f100";
}
.icons8-control-panel-board:before {
  content: "\f101";
}
.icons8-registration:before {
  content: "\f102";
}
.icons8-user-account:before {
  content: "\f103";
}
.icons8-tree-structure:before {
  content: "\f104";
}
.icons8-calendar:before {
  content: "\f105";
}
.icons8-notification:before {
  content: "\f106";
}
.icons8-maintenance:before {
  content: "\f107";
}
.icons8-name-card:before {
  content: "\f108";
}
.icons8-diploma:before {
  content: "\f109";
}
.icons8-chat:before {
  content: "\f10a";
}
.icons8-shop:before {
  content: "\f10b";
}
.icons8-dashboard:before {
  content: "\f10c";
}
.icons8-training:before {
  content: "\f10d";
}
.icons8-cert:before {
  content: "\f10e";
}
.icons8-key:before {
  content: "\f10f";
}
.icons8-settings:before {
  content: "\f110";
}
.icons8-folder-with-a-user-symbol:before {
  content: "\f111";
}
.icons8-location-marker:before {
  content: "\f112";
}
.icons8-website:before {
  content: "\f113";
}
.icons8-gender-neutral-user:before {
  content: "\f114";
}
.icons8-e-mail:before {
  content: "\f115";
}
.icons8-help:before {
  content: "\f116";
}
.icons8-logout:before {
  content: "\f117";
}
.icons8-logout-2:before {
  content: "\f118";
}
.icons8-today:before {
  content: "\f119";
}
.icons8-foreign-languages:before {
  content: "\f11a";
}
.icons8-database:before {
  content: "\f11b";
}
.icons8-website-symbol:before {
  content: "\f11c";
}
.icons8-active-directory:before {
  content: "\f11d";
}
.icons8-security-lock:before {
  content: "\f11e";
}
.icons8-connect:before {
  content: "\f11f";
}
.icons8-template:before {
  content: "\f120";
}
.icons8-dropdown-field:before {
  content: "\f122";
}
.icons8-dictionary:before {
  content: "\f123";
}
.icons8-date-span:before {
  content: "\f124";
}
.icons8-filter:before {
  content: "\f125";
}
.icons8-sorting:before {
  content: "\f126";
}
.icons8-search:before {
  content: "\f127";
}
.icons8-share:before {
  content: "\f128";
}
.icons8-binoculars:before {
  content: "\f129";
}
.icons8-social-group:before {
  content: "\f12a";
}
.icons8-print-media:before {
  content: "\f12b";
}
.icons8-inbox:before {
  content: "\f12c";
}
.icons8-lock:before {
  content: "\f12d";
}
.icons8-lock-2:before {
  content: "\f12e";
}
.icons8-lock-outline:before {
  content: "\f12f";
}
.icons8-lock-outline-2:before {
  content: "\f130";
}
.icons8-approval:before {
  content: "\f131";
}
.icons8-login:before {
  content: "\f132";
}
.icons8-physics:before {
  content: "\f133";
}
.icons8-camera:before {
  content: "\f134";
}
.icons8-lightbulb-idea:before {
  content: "\f135";
}
.icons8-megaphone:before {
  content: "\f136";
}
.icons8-price-tag:before {
  content: "\f137";
}
.icons8-discount:before {
  content: "\f138";
}
.icons8-bill:before {
  content: "\f139";
}
.icons8-genealogy:before {
  content: "\f13a";
}
.icons8-checkmark:before {
  content: "\f13b";
}
.icons8-signin:before {
  content: "\f13c";
}
.icons8-form:before {
  content: "\f13d";
}
.icons8-detective:before {
  content: "\f13e";
}
.icons8-people:before {
  content: "\f13f";
}
.icons8-activity-feed:before {
  content: "\f140";
}
.icons8-ophthalmology:before {
  content: "\f141";
}
.icons8-news-feed:before {
  content: "\f143";
}
.icons8-new-resume-template:before {
  content: "\f144";
}
.icons8-close-window:before {
  content: "\f145";
}
.icons8-toggle-on:before {
  content: "\f146";
}
.icons8-toggle-off:before {
  content: "\f147";
}
.icons8-download:before {
  content: "\f148";
}
.icons8-laptop:before {
  content: "\f149";
}
.icons8-audit:before {
  content: "\f14a";
}
.icons8-typewriter-with-paper:before {
  content: "\f14b";
}
.icons8-e-learning:before {
  content: "\f14e";
}
.icons8-messaging:before {
  content: "\f150";
}
.icons8-dashboard-2:before {
  content: "\f151";
}
.icons8-timeline-week:before {
  content: "\f152";
}
.icons8-telegram-app:before {
  content: "\f153";
}
.icons8-pdf:before {
  content: "\f155";
}
.icons8-powerpoint:before {
  content: "\f157";
}
.icons8-regular-document:before {
  content: "\f158";
}
.icons8-upload:before {
  content: "\f159";
}
.icons8-multiply:before {
  content: "\f15a";
}
.icons8-doc:before {
  content: "\f15b";
}
.icons8-chat-message-sent:before {
  content: "\f15c";
}
.icons8-sms:before {
  content: "\f15d";
}
.icons8-communication:before {
  content: "\f15e";
}
.icons8-open-envelope:before {
  content: "\f15f";
}
.icons8-add-to-chat:before {
  content: "\f160";
}
.icons8-read-online:before {
  content: "\f161";
}
.icons8-received:before {
  content: "\f162";
}
.icons8-view:before {
  content: "\f163";
}
.icons8-glasses:before {
  content: "\f164";
}
.icons8-video-conference:before {
  content: "\f165";
}
.icons8-event:before {
  content: "\f166";
}
.icons8-video:before {
  content: "\f167";
}
.icons8-no-video:before {
  content: "\f169";
}
.icons8-video-message:before {
  content: "\f16a";
}
.icons8-video-gallery:before {
  content: "\f16b";
}
.icons8-video-trimming:before {
  content: "\f16c";
}
.icons8-video-record:before {
  content: "\f16d";
}
.icons8-video-playlist:before {
  content: "\f16e";
}
.icons8-laptop-play-video:before {
  content: "\f16f";
}
.icons8-sending-video-frames:before {
  content: "\f170";
}
.icons8-video-editing:before {
  content: "\f171";
}
.icons8-mute-unmute:before {
  content: "\f172";
}
.icons8-turn-off-ringer:before {
  content: "\f173";
}
.icons8-audio:before {
  content: "\f174";
}
.icons8-add-record:before {
  content: "\f175";
}
.icons8-phone:before {
  content: "\f176";
}
.icons8-add-phone:before {
  content: "\f177";
}
.icons8-no-phones:before {
  content: "\f178";
}
.icons8-ringer-volume:before {
  content: "\f179";
}
.icons8-outgoing-call:before {
  content: "\f17a";
}
.icons8-call:before {
  content: "\f17b";
}
.icons8-download-from-cloud:before {
  content: "\f17c";
}
.icons8-commercial:before {
  content: "\f17d";
}
.icons8-phone-time:before {
  content: "\f17e";
}
.icons8-gps-antenna:before {
  content: "\f17f";
}
.icons8-gps-signal:before {
  content: "\f180";
}
.icons8-talk:before {
  content: "\f181";
}
.icons8-chat-messages:before {
  content: "\f182";
}
.icons8-communicate:before {
  content: "\f183";
}
.icons8-typing:before {
  content: "\f184";
}
.icons8-voice-recognition:before {
  content: "\f185";
}
.icons8-winner-document:before {
  content: "\f187";
}
.icons8-imac-medal:before {
  content: "\f188";
}
.icons8-trophy:before {
  content: "\f189";
}
.icons8-medal:before {
  content: "\f18a";
}
.icons8-macbook-medal:before {
  content: "\f18b";
}
.icons8-leaderboard:before {
  content: "\f18c";
}
.icons8-medal-and-certificate-folder:before {
  content: "\f18d";
}
.icons8-test-passed:before {
  content: "\f18e";
}
.icons8-document:before {
  content: "\f18f";
}
.icons8-document-2:before {
  content: "\f190";
}
.icons8-open-document:before {
  content: "\f191";
}
.icons8-shared-document:before {
  content: "\f192";
}
.icons8-documents:before {
  content: "\f193";
}
.icons8-checked-identification-documents:before {
  content: "\f194";
}
.icons8-delete-file:before {
  content: "\f195";
}
.icons8-sheet:before {
  content: "\f196";
}
.icons8-pdf-2:before {
  content: "\f197";
}
.icons8-xls:before {
  content: "\f198";
}
.icons8-txt:before {
  content: "\f199";
}
.icons8-word:before {
  content: "\f19a";
}
.icons8-speaker-notes:before {
  content: "\f19b";
}
.icons8-expand-arrow:before {
  content: "\f19c";
}
.icons8-microphone:before {
  content: "\f19d";
}
.icons8-block-microphone:before {
  content: "\f19e";
}
.icons8-video-call:before {
  content: "\f19f";
}
.icons8-video-file:before {
  content: "\f1a0";
}
.icons8-video-camera:before {
  content: "\f1a1";
}
.icons8-not-showing-video-frames:before {
  content: "\f1a2";
}
.icons8-documentary:before {
  content: "\f1a3";
}
.icons8-xbox-menu:before {
  content: "\f1a4";
}
.icons8-circled-play:before {
  content: "\f1a5";
}
.icons8-camcorder:before {
  content: "\f1a6";
}
.icons8-camera-automation:before {
  content: "\f1a7";
}
.icons8-play-button:before {
  content: "\f1a8";
}
.icons8-play:before {
  content: "\f1a9";
}
.icons8-cinema:before {
  content: "\f1aa";
}
.icons8-hdtv:before {
  content: "\f1ab";
}
.icons8-web-camera:before {
  content: "\f1ac";
}
.icons8-wall-mount-camera:before {
  content: "\f1ad";
}
.icons8-chat-bubble:before {
  content: "\f1ae";
}
.icons8-no-chat:before {
  content: "\f1af";
}
.icons8-macbook-chat:before {
  content: "\f1b0";
}
.icons8-delete-chat:before {
  content: "\f1b1";
}
.icons8-chat-settings:before {
  content: "\f1b2";
}
.icons8-discussion-forum:before {
  content: "\f1b3";
}
.icons8-phone-message:before {
  content: "\f1b4";
}
.icons8-closed-topic:before {
  content: "\f1b5";
}
.icons8-online-support:before {
  content: "\f1b6";
}
.icons8-advice:before {
  content: "\f1b7";
}
.icons8-refuse:before {
  content: "\f1b8";
}
.icons8-whatsapp:before {
  content: "\f1b9";
}
.icons8-forward-message:before {
  content: "\f1ba";
}
.icons8-group-message:before {
  content: "\f1bb";
}
.icons8-ask-question:before {
  content: "\f1bc";
}
.icons8-thinking-male:before {
  content: "\f1bd";
}
.icons8-showing-video-frames:before {
  content: "\f1be";
}
.icons8-finish-flag:before {
  content: "\f1bf";
}
.icons8-facebook-like:before {
  content: "\f1c0";
}
.icons8-link:before {
  content: "\f1c1";
}
.icons8-trash:before {
  content: "\f1c2";
}
.icons8-image-document:before {
  content: "\f1c4";
}
.icons8-edit:before {
  content: "\f1c5";
}
.icons8-synchronize:before {
  content: "\f1c6";
}
.icons8-ticket:before {
  content: "\f1c7";
}
.icons8-delete-ticket:before {
  content: "\f1c8";
}
.icons8-ticket-confirmed:before {
  content: "\f1c9";
}
.icons8-movie-ticket:before {
  content: "\f1ca";
}
.icons8-new-ticket:before {
  content: "\f1cb";
}
.icons8-two-tickets:before {
  content: "\f1cc";
}
.icons8-sort:before {
  content: "\f1cf";
}
.icons8-clock:before {
  content: "\f1d0";
}
.icons8-expand:before {
  content: "\f1d4";
}
.icons8-collapse:before {
  content: "\f1d5";
}
.icons8-file-delete:before {
  content: "\f1da";
}
.icons8-attach:before {
  content: "\f1db";
}
.icons8-stacked-organizational-chart:before {
  content: "\f1dc";
}
.icons8-export:before {
  content: "\f1dd";
}
.icons8-time-machine:before {
  content: "\f1de";
}
.icons8-classroom:before {
  content: "\f1df";
}
.icons8-place-marker:before {
  content: "\f1e0";
}
.icons8-person:before {
  content: "\f1e1";
}
.icons8-duplicate:before {
  content: "\f1e2";
}
.icons8-language-skill:before {
  content: "\f1e3";
}
.icons8-menu:before {
  content: "\f1e5";
}
.icons8-info:before {
  content: "\f1e6";
}
.icons8-error:before {
  content: "\f1e7";
}
.icons8-cancel:before {
  content: "\f1e8";
}
.icons8-ok:before {
  content: "\f1e9";
}
.icons8-unpin-2:before {
  content: "\f1ea";
}
.icons8-sparkling:before {
  content: "\f1eb";
}
.icons8-learn-more:before {
  content: "\f1ed";
}
.icons8-checked-user-male:before {
  content: "\f1ee";
}
.icons8-timeline:before {
  content: "\f1ef";
}
.icons8-menu-vertical:before {
  content: "\f1f0";
}
.icons8-e-learning-2:before {
  content: "\f1f1";
}
.icons8-teacher:before {
  content: "\f1f2";
}
.icons8-pass-fail:before {
  content: "\f1f3";
}
.icons8-contract:before {
  content: "\f1f4";
}
.icons8-folder:before {
  content: "\f1f5";
}
.icons8-survey:before {
  content: "\f1f6";
}
.icons8-inscription:before {
  content: "\f1f7";
}
.icons8-rotate-right:before {
  content: "\f1f8";
}
.icons8-leave:before {
  content: "\f1f9";
}
.icons8-leave-2:before {
  content: "\f1fa";
}
.icons8-no-entry:before {
  content: "\f1fb";
}
.icons8-reset:before {
  content: "\f1fc";
}
.icons8-lock-3:before {
  content: "\f1fd";
}
.icons8-button:before {
  content: "\f1fe";
}
.icons8-done:before {
  content: "\f1ff";
}
.icons8-leave-3:before {
  content: "\f200";
}
.icons8-button-2:before {
  content: "\f201";
}
.icons8-restart:before {
  content: "\f202";
}
.icons8-no-entry-2:before {
  content: "\f203";
}
.icons8-school-director:before {
  content: "\f204";
}
.icons8-hourglass:before {
  content: "\f205";
}
.icons8-close:before {
  content: "\f206";
}
.icons8-trophy-2:before {
  content: "\f207";
}
.icons8-no-entry-3:before {
  content: "\f208";
}
.icons8-no-entry-4:before {
  content: "\f209";
}
.icons8-in-progress:before {
  content: "\f20a";
}
.icons8-pin:before {
  content: "\f20b";
}
.icons8-basket:before {
  content: "\f20c";
}
.icons8-thumbnails:before {
  content: "\f20d";
}
.icons8-package:before {
  content: "\f20e";
}
.icons8-paste:before {
  content: "\f20f";
}
.icons8-book:before {
  content: "\f210";
}
.icons8-home:before {
  content: "\f211";
}
.icons8-left-arrow:before {
  content: "\f212";
}
.icons8-full-screen:before {
  content: "\f213";
}
.icons8-list:before {
  content: "\f214";
}
.icons8-open-parcel:before {
  content: "\f216";
}
.icons8-collapse-arrow:before {
  content: "\f217";
}
.icons8-reorder:before {
  content: "\f218";
}
.icons8-important-month:before {
  content: "\f219";
}
.icons8-save:before {
  content: "\f21a";
}
.icons8-learn-more-2:before {
  content: "\f21b";
}
.icons8-video-call-2:before {
  content: "\f21c";
}
.icons8-ticket-2:before {
  content: "\f21d";
}
.icons8-batch-assign-proc:before {
  content: "\f220";
}
.icons8-batch-not-assigned-proc:before {
  content: "\f221";
}
.icons8-training-2:before {
  content: "\f222";
}
.icons8-external-link:before {
  content: "\f223";
}
.icons8-user:before {
  content: "\f224";
}
.icons8-user-account-2:before {
  content: "\f225";
}
.icons8-certificate:before {
  content: "\f226";
}
.icons8-verified-account:before {
  content: "\f227";
}
.icons8-export-csv:before {
  content: "\f229";
}
.icons8-xls-export:before {
  content: "\f22a";
}
.icons8-plus-math:before {
  content: "\f22b";
}
.icons8-export-pdf:before {
  content: "\f22c";
}
.icons8-card-exchange:before {
  content: "\f22d";
}
.icons8-business:before {
  content: "\f22e";
}
.icons8-face-id:before {
  content: "\f22f";
}
.icons8-unavailable:before {
  content: "\f230";
}
.icons8-teacher-2:before {
  content: "\f231";
}
.icons8-descending-sorting:before {
  content: "\f232";
}
.icons8-ascending-sorting:before {
  content: "\f233";
}
.icons8-archive:before {
  content: "\f234";
}
.icons8-music:before {
  content: "\f235";
}
.icons8-pdf-3:before {
  content: "\f236";
}
.icons8-presentation:before {
  content: "\f237";
}
.icons8-spreadsheet-file:before {
  content: "\f238";
}
.icons8-video-clip:before {
  content: "\f239";
}
.icons8-document-3:before {
  content: "\f23a";
}
.icons8-image:before {
  content: "\f23b";
}
.icons8-graduation-scroll:before {
  content: "\f23c";
}
.icons8-autograph:before {
  content: "\f23d";
}
.icons8-file-download:before {
  content: "\f23e";
}
.icons8-shopping-cart:before {
  content: "\f23f";
}
.icons8-tags:before {
  content: "\f240";
}
.icons8-image-2:before {
  content: "\f241";
}
.icons8-erase:before {
  content: "\f242";
}
.icons8-circus-tent:before {
  content: "\f243";
}
.icons8-separate-by-using-blank-sheets:before {
  content: "\f244";
}
.icons8-search-in-list:before {
  content: "\f245";
}
.icons8-play-2:before {
  content: "\f246";
}
.icons8-smile:before {
  content: "\f247";
}
.icons8-flip-vertical:before {
  content: "\f248";
}
.icons8-flip-horizontal:before {
  content: "\f249";
}
.icons8-rotate:before {
  content: "\f24a";
}
.icons8-collaboration:before {
  content: "\f24b";
}
.icons8-right-arrow:before {
  content: "\f24c";
}
.icons8-cardboard-box:before {
  content: "\f24d";
}
.icons8-speech-bubble:before {
  content: "\f24e";
}
.icons8-view-carousel:before {
  content: "\f24f";
}
.icons8-checkmark-bold--2-:before {
  content: "\f250";
}
.icons8-multiline-text:before {
  content: "\f251";
}
.icons8-3d-touch:before {
  content: "\f252";
}
.icons8-braille:before {
  content: "\f254";
}
.icons8-import-file:before {
  content: "\f255";
}
.icons8-bot:before {
  content: "\f256";
}
.icons8-star:before {
  content: "\f257";
}
.icons8-clock-2:before {
  content: "\f258";
}
.icons8-document-header:before {
  content: "\f259";
}
.icons8-text:before {
  content: "\f25a";
}
.icons8-1-column:before {
  content: "\f25b";
}
.icons8-2-columns:before {
  content: "\f25c";
}
.icons8-3-columns:before {
  content: "\f25d";
}
.icons8-left-sidebar:before {
  content: "\f25e";
}
.icons8-right-sidebar:before {
  content: "\f25f";
}
.icons8-plus:before {
  content: "\f260";
}
.icons8-albums:before {
  content: "\f261";
}
.icons8-align-text-left:before {
  content: "\f262";
}
.icons8-file:before {
  content: "\f263";
}
.icons8-pdf-4:before {
  content: "\f264";
}
.icons8-archive-2:before {
  content: "\f265";
}
.icons8-audio-file:before {
  content: "\f266";
}
.icons8-powerpoint-file:before {
  content: "\f267";
}
.icons8-xls-2:before {
  content: "\f268";
}
.icons8-image-3:before {
  content: "\f269";
}
.icons8-video-file-2:before {
  content: "\f26a";
}
.icons8-document-4:before {
  content: "\f26b";
}
.icons8-design:before {
  content: "\f26c";
}
.icons8-stretch-uniform-to-fill:before {
  content: "\f26d";
}
.icons8-top-bar:before {
  content: "\f271";
}
.icons8-image_right:before {
  content: "\f272";
}
.icons8-image_left:before {
  content: "\f273";
}
.icons8-pill:before {
  content: "\f274";
}
.icons8-download-2:before {
  content: "\f275";
}
.icons8-centralized-network:before {
  content: "\f277";
}
.icons8-user-groups:before {
  content: "\f278";
}
.icons8-collaborator:before {
  content: "\f279";
}
.icons8-development-skill:before {
  content: "\f27a";
}
.icons8-books:before {
  content: "\f27c";
}
.icons8-journey:before {
  content: "\f27d";
}
.icons8-topic:before {
  content: "\f27e";
}
.icons8-play-3:before {
  content: "\f27f";
}
.icons8-movie:before {
  content: "\f280";
}
.icons8-error-2:before {
  content: "\f281";
}
.icons8-flag:before {
  content: "\f282";
}
.icons8-replay:before {
  content: "\f283";
}
.icons8-diploma-2:before {
  content: "\f284";
}
.icons8-analyze:before {
  content: "\f285";
}
.icons8-back:before {
  content: "\f286";
}
.icons8-next:before {
  content: "\f287";
}
.icons8-data-transfer:before {
  content: "\f288";
}
.icons8-eye:before {
  content: "\f289";
}
.icons8-task:before {
  content: "\f28a";
}
.icons8-pass-fail-2:before {
  content: "\f28b";
}
.icons8-video-chat:before {
  content: "\f28c";
}
.icons8-survey-2:before {
  content: "\f28d";
}
.icons8-high-importance:before {
  content: "\f28e";
}
.icons8-high-risk:before {
  content: "\f28f";
}
.icons8-police-badge:before {
  content: "\f290";
}
.icons8-block-chain:before {
  content: "\f291";
}
.icons8-invisible:before {
  content: "\f292";
}
.icons8-in-inventory:before {
  content: "\f293";
}
.icons8-resume-website:before {
  content: "\f294";
}
.icons8-positive-dynamic:before {
  content: "\f295";
}
.icons8-login-as:before {
  content: "\f296";
}
.icons8-lock-4:before {
  content: "\f297";
}
.icons8-building:before {
  content: "\f298";
}
.icons8-one-free:before {
  content: "\f299";
}
.icons8-trophy-3:before {
  content: "\f29a";
}
.icons8-subtract:before {
  content: "\f29b";
}
.icons8-abacus:before {
  content: "\f29c";
}
.icons8-rating:before {
  content: "\f29d";
}
.icons8-goal:before {
  content: "\f29e";
}
.icons8-info-popup:before {
  content: "\f29f";
}
.icons8-cv:before {
  content: "\f2a0";
}
.icons8-growth-and-flag:before {
  content: "\f2a1";
}
.icons8-warranty:before {
  content: "\f2a2";
}
.icons8-e-learning-3:before {
  content: "\f2a3";
}
.icons8-term:before {
  content: "\f2a4";
}
.icons8-envelope:before {
  content: "\f2a5";
}
.icons8-schedule:before {
  content: "\f2a6";
}
